<div class="wrapper">
  <div class="container">
    <div class="row">

      <h1><%= @cocktail.name %></h1>

        <% @cocktail.doses.each do |dose| %>
        <br>
          <%= dose.ingredient.name %>
      <% end %>
      <br>
      <%= cl_image_tag @cocktail.photo, class: "img-thumbnail", height: 100, width: 100, crop: :fill %>
       <br>
     <div class="buttons">
      <%= link_to "Back to main menu", cocktails_path, class: "btn btn-primary" %>
       <%= link_to "Edit this cocktail",  cocktail_path, class: "btn btn-success" %>
       <%= button_to "Delete this cocktail", cocktail_path, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
